<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117021162459-ttgfuog0u7bla9m803hi1q75jacgi8gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117021162459-ttgfuog0u7bla9m803hi1q75jacgi8gr</string>
	<key>API_KEY</key>
	<string>AIzaSyBAHM9ZWTnPSc2SuVCG07PAwhNHUu21k-U</string>
	<key>GCM_SENDER_ID</key>
	<string>117021162459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playground</string>
	<key>PROJECT_ID</key>
	<string>oneshop-aec38</string>
	<key>STORAGE_BUCKET</key>
	<string>oneshop-aec38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117021162459:ios:413c66d0ca4379838485fe</string>
</dict>
</plist>